<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit anime</title>
</head>
<body>
<form th:method="patch" th:action="@{/anime/{id}(id = ${anime.getId()})}" th:object="${anime}">
    <label for="title">Write title: </label>
    <input type="text" th:field="*{title}" id="title">
    <br/>
    <label for="dubbing">Write dubbing: </label>
    <input type="text" th:field="*{dubbing}" id="dubbing">
    <br/>
    <label for="description">Write description: </label>
    <input type="text" th:field="*{description}" id="description">
    <br/>
    <input type="submit" value="Save">
</form>
</body>
</html>